PORT=8000
DB_NAME=mydb
DB_USER=dbuser
DB_PASS=dbpass
DB_PORT=5432
DB_HOST=localhost
DB_SSL=false
JWT_SECRET=8dd6ab8bdaa873d8da485eac601fa0e1c9a42c4a283e6cc730323681961a682d
JWT_EXPIRATION=3600
REFRESH_TOKEN_SECRET=126bc917a1a8db944e69091481312dbf8008d3229720dbfc1bb581e5b4ad3ecf
REFRESH_TOKEN_EXPIRATION=604800
SMTP_HOST='smtp.example.com'
SMTP_PORT=587
SMTP_SECURE=true
SMTP_USERNAME=smtpuser
SMTP_PASSWORD=smtppass
SMTP_SENDER=smtp@example.com
PASSWORD_SALT_ROUNDS=10
FRONTEND_URL=http://localhost:3000
GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash-lite
MCP_SERVER_URL=http://localhost:8000
ENVIRONMENT=development
SYNC_DB=true
LOG_LEVEL=info
CORS_ORIGINS=localhost:3000
TZ=UTC
DB_TIMEZONE=+00:00
